# бинарники (собираются через make)
signals/sigact
signals/sigact_int
signals/threads_sig1
signals/threads_sig2
signals/threads_sig3
pipes/pipe_clientserver
pipes/fifomsg_server
pipes/fifomsg_client
*.o
